<div class="cotainter">

    <div class="navbar">
        <a class="navbar-brand" href="#">{{title}}</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a routerLink="/bookmarks" routerLinkActive="active">List</a>
            </li>
            <li class="active">
                <a routerLink="/new" routerLinkActive="active">Add</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>